body{
    background-color: #1b1b1b;
    min-height: 100vh;
}
.contactsec{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
    background: #111111da;
}
.contact-container {
  width: 500px;
  min-width: 200px;
  padding: 30px;
  background: #1b1b1b;
  color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: "Inter", sans-serif;
}

.contact-container h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  background: #2b2b2b;
  color: #fff;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #bbb;
}

.contact-form button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ff6b00;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #ff8533;
  transform: translateY(-2px);
}
