.imgbg{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img-div{
    min-height: 100vh;
}
.brud{
    width: 400px;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
